.successful {
  font-size: 10px;
}

#upload-image {
  display: flex;
  justify-content: flex-end;
  width : 50px;
}

.upload-title {
  margin-top: 40px;
  margin-top: 20px;
}

#trim {
  background-size: 120%;
}

.preview {

  overflow: scroll;
  height: 50vh;
  // margin-bottom: 100px;
}

.profile-page {
  // margin-top: 0px;
  // margin-bottom: 0px;
}

.flexy {
  display: flex;
  justify-content: space-around;
}

.flex-doc {
  display: flex;
  justify-content: space-around;
}
