#translate-card {
  padding: 20px;
  border-radius: 5px;
}

.student-text {
  height: 300px;
  padding: 20px;
}

.text-box {
  height: 200px;
  // padding: 20px;
}

.doc-title {
  padding: 24px;
  text-align: center;
}

.submit-edit {
  margin-top: 48px;
}
