// Specific CSS for your home-page
.flex-container {
  display: flex;
  background-color: #FFFFFF;
}

.left-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
  width: 50vw;
  height: 100vh;
 }


.carousel-item1 {
  background-color: #EE6352;
}

.carousel-item2 {
  background-color: #FFDF37;
}

.carousel-item3 {
  background-color: #FF8B37;
}
.carousel-item4 {
  background-color: #57A4FF;
}
.carousel-item5 {
  background-color: #FF576B;
}

.box {
  background-color: #E8E8E8;
  margin-left: 135px;
  margin-right: 135px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  margin-top: 18px;
}

.box .button {
margin-left: 10px;
}

