.show-container {
  width: 60vw;
  margin: 0 auto
}

#show-original {
  height: 70vh;
  overflow: scroll;
  text-align: center;
}

#show-final {
  height: 70vh;
  overflow: scroll;
  text-align: center;
}

#your-section {
  text-align: center;
}

.show-tabs {
  margin-bottom: 30px;
  margin-top: 30px;
}



