.flex-container {
display:flex;
background: white;

}

.side-bar {
  position: sticky;
  height: 100vh;
  width: 25%;
  text-align: center;
  margin: 40px;
  background: rgb(245,245,245);
  box-shadow: 0px 0px 1px 1px rgb(245,245,245);
  padding: 30px;
  border-radius: 4px;

}

.name {
  margin-top: 20px;
  font-weight: bold;
}

.institution {
  // margin-top: 5px;
  font-size: 15px;
  font-weight: lighter;
}

.tab-content {
}

.avatar img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
}


.profile {
    border-bottom: 1px solid rgb(220,220,220);
    padding: 20px;
}

.bars {

}

.bars a {
  text-decoration: none;
  text-align: right;

.bars {
  // border-left: 4px solid #EE6352;
  color: #919193;
}

}

.page {
  height: 100vh;
  width: 75%;
  text-align: center;
  margin: 40px;
  background: rgb(245,245,245);
  border-radius: 4px;
}
