.avatar-container {
  position: absolute;
  top: 90px;
  width: 100%;
}

.container-tabs {
  margin-top: 40px;
  margin-bottom: 200px;
  height: 400px;
  padding: 50px;

}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 12px;
    width: 20%;
    height: 100px;
    border-radius: 5px;
    margin-right: 40px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 8px 8px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #FEDD4A;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #FEDD4A;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

.documents {
  text-align: center;
}
