<div>
  <img class="profile-banner">
 </div>

<div class="avatar-container">
  <img src="https://images.unsplash.com/photo-1519063358282-1b7f996c7ee9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=782fea542836164b7291aa8154f0000d&auto=format&fit=crop&w=980&q=80" class="user-avatar">
</div>

<div class="container-tabs">

  <!-- Nav tabs -->
  <div class="tab">
  <button class="tablinks" data-city="French">French</button>
  <button class="tablinks" data-city="German">German</button>
  <button class="tablinks" data-city="Russian">Russian</button>
  </ul>
   </div>



  <div id="French" class="tabcontent">
    <h3>French</h3>
    <p>French rules</p>
                  <% @documents.each do |t| %>
        <div class="row">
            <div class="column" style="flex: 0 0 70%">
              <div class="files">
                   <!--  <div class="document-list"> -->

                      <ul> Title:
                        <%= link_to  root_path, id: "preview_#{t.id}", class: "preview_link" do %>
                          <%= t.title %>
                          <%= cl_image_tag t.pdf.file.public_id, format: :jpg, density: 300, class: 'files-image' %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
            <div class="column" style="flex: 1;">
              <div class="completed">
                    <!-- <div class="completed"> -->
                      <p>Status:</p>
                    </div>
                    </div>
            </div>
      <% end %>
</div>

<script>
  // console.log("ffsd");
  // const all_links = document.querySelectorAll(".preview_link")
  // all_links.forEach((element) => {
  //   element.addEventListener("mouseover", () => {

  //   })

  // })

</script>


    <div class="documents">

<!--     <#%= cl_image_tag("stsssqmkshoigqnwfups.jpg", :title => "This text should be shown when hovering", :width => 200, :height => 250, :density => 300, :border => "2px_solid_black", :effect=>"shadow", :x=>13, :y=>13, :radius=>10) %>
    <#%= cl_image_tag("SIRO_Reg.jpg", :width => 200, :height => 250, :density => 300, :border => "2px_solid_black", :effect=>"shadow", :x=>13, :y=>13, :radius=>10) %>
    <#%= cl_image_tag("stsssqmkshoigqnwfups.jpg", :width => 200, :height => 250, :density => 300, :border => "2px_solid_black", :effect=>"shadow", :x=>13, :y=>13,:radius=>2) %> -->
      </div>
      </div>

  <div id="German" class="tabcontent">
    <h3>German</h3>
    <p>German is ok.</p>
    <%= cl_image_tag("stsssqmkshoigqnwfups.jpg", :width => 200, :height => 250, :density => 300) %>
  </div>

  <div id="Russian" class="tabcontent">
    <h3>Russian</h3>
    <p>Russian please</p>
  </div>

</div>
