<div class="container">
<div class="card" id="translate-card">
<div class="original-text">
  <!-- Original edit will go here -->
  <p>Less than one year has passed since I first stood at this podium, in this majestic chamber, to speak on behalf of the American people and to address their concerns, their hopes, and their dreams. That night, our new administration had already taken very swift action. A new tide of optimism was already sweeping across our land. Each day since, we have gone forward with a clear vision and a righteous mission, to make America great again for all Americans.


</p></div>
  <div class="doc-title">Edit this section from: </br>"<%= @document.title %>"</div>
<div class="student-text">
  <%= simple_form_for([@document, @section]) do |f| %>
  <%#= f.association :student, collection: @students, placeholder: "Student Name" %>
  <div class="text-box">
  <%= f.input :final_content, placeholder: "Insert Translation Here", :input_html => {:rows =>5} %>
  </div>
  <%#= f.input :lesson, collection: @lessons.map { |lesson| lesson.lesson_name } %>
  <div class="submit-edit">
  <%= f.submit "Submit", class: "btn-primary" %>
  </div>
  <% end %>
</div>
</div>
</div>
