<div class="flex-container">
  <div class="left-section">
    <h1>live<strong>translate</strong></h1>
    <h3>Linking talented languages students to small businesses.</h3>
    <div class="box">
      <input type="text" placeholder="Your email" class="form-control custom">
      <button type="submit" class="button">Get started</button>
    </div>
  </div>

<div class="right-section">
    <div id="fullpage" class="carousel">
      <div class="section carousel-item1">
      </div>
      <div class="section carousel-item2">
        <h2>How it works?</h2>
        <h4>Step 1 | Upload your document</h4>
        <h4>Step 2 | A university class translates it</h4>
        <h4>Step 3 | We send your document back to you</h4>
      </div>
      <div class="section carousel-item3">
        <h3>When you upload your document we assign it to a class at one of our accredited partner universities.</h3>
      </div>
      <div class="section carousel-item4">
        <h3>Students in the class work on sections of the document indiviually and then a teacher moderates the final version during a lesson.
        </h3>
      </div>
      <div class="section carousel-item5">
        <h3>
          We send your document back to you. <br>
          Your translation is reliable, great value for money and has harnessed the talents of motivated students.
        </h3>
      </div>
    </div>
  </div>
</div>

