<div class="home">
  <div class="call">
    <h1>live<strong>translate</strong></h1>
    <h3>Linking talented languages students to small businesses.</h3>
    <div class="form-group form-inline box">
      <input type="text" placeholder="Email" class="form-control">
      <button type="submit" class="button">Get started</button>
    </div>
  </div>

  <div class="carousel">
    <p> </p>

  </div>
</div>
