<div class="lt">
  <h2>LiveTranslate</h2>
  <div class="flex-container">
    <div class="original">
      <h2><%= @document.title %></h2>
      <p><%= @document.original_content %></p>
    </div>
    <div class="student">

    </div>
  </div>
</div>
