.button {
background-color: #EE6352;
color: white;
padding: 10px;
border-radius: 6px;
text-decoration: none;
}

.button:hover {
background-color: #EE6352;
color: white;
padding: 10px;
border-radius: 6px;
opacity: 0.8;
text-decoration: none;
}

.submit-to-business{
    position: absolute;
    top: 92px;
    right: 73px;
}
